body {
    background-color: darkblue;
    font-size: large;
    font-family: 'Roboto', sans-serif;
  }
  
  #text {
    background-color: black;
    color: white;
    padding: 10px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  
  #game {
    max-width: 500px;
    max-height: 400px;
    background-color: lightgray;
    color: white;
    margin: 0 auto;
    padding: 15px;
    border-radius: 15px;
  }
  
  #controls {
    border: 1px black solid;
    padding: 5px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    margin-top: 10px;
  }
  
  #stats {
    border: 1px black solid;
    color: black;
    padding: 5px;
    border-radius: 15px;
  }
  
  #monsterStats {
    display: none;
    border: 1px black solid;
    color: white;
    padding: 5px;
    background-color: red;
  }
  
  .stat {
    padding-right: 10px;
  }
  button{
    background-color: whitesmoke;
    border-radius: 20px;
    border: none;
    display: inline;
    margin:5px;
    padding:10px;
    font-size: medium;
    width:30%;
    box-shadow: 7px 7px 5px 0px rgba(135, 136, 146, 0.479);
    font-size: small;
    font-weight: bold;
  }